<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context 
		  http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	
	
	
	



	<http auto-config='true'  use-expressions="true">
		<intercept-url pattern="/secured/*" access="hasRole('ANONYMOUS')" />
		<intercept-url pattern="/admin/*" access="hasRole('ANONYMOUS')" />
		<intercept-url pattern="/client/*" access="hasRole('ANONYMOUS')" />
		<intercept-url pattern="/reservation/new1" access="hasRole('ANONYMOUS')" />
		<form-login login-page="/login" default-target-url="/secured/home"
			authentication-failure-url="/loginError" />
		<csrf disabled="true"/>
	</http>

	
	
	
	
	
	
	
<context:component-scan base-package="gestionreservation.spring.provider" />
	<authentication-manager erase-credentials="true">
		<authentication-provider ref="customAuthenticationProvider">
			
		</authentication-provider>
	</authentication-manager>

</beans:beans>